img {
  display: block;
  margin: 0 auto;
}

h3 {
  color: rgb(167, 22, 22);
}
span {
  font-weight: 700;
}
main {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}
.sottotitolo {
  font-size: 12px;
  color: rgb(35, 133, 172);
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 201);
  padding-top: 15px;
  padding-left: 830px;
  padding-bottom: 15px;
  padding-right: 830px;
  border-top: 1px solid rgb(238, 156, 3);
}
li {
  margin-bottom: 1em;
}
.sally {
  color: rgb(173, 172, 172);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.b {
  margin: 0;
  border-left: 1px solid rgb(240, 157, 4);
  font-size: 16px;
}
hr {
  border-top: 1px solid rgb(114, 215, 255);
}
.g {
  font-weight: 800;
}
h2 {
  font-weight: 400;
  margin-top: 1.5em;
}
li.l {
  list-style-type: none;
}
.i {
  box-shadow: 6px 8px 6px #ebe7e7;
}
.t {
  text-align: center;
}
